<footer>
	<div class="container">
		<div class="footer-logo">
					<a class="brandimg" href="#" tabindex="-1" routerLink="/" routerLinkActive="active"><img src="../assets/images/axiom-logo-small.png" alt="Logo" ></a>
		</div>
		<div class="footernav">
					<div class="footernavlist">
						<ul class="navlinks">
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Private Policy</a></li>
							<li><a href="#">Terms of Service</a></li>
							<li><a href="#">Site Map</a></li>
						</ul>
						<ul class="sociallinks">
							<li class="fb"><a href="#" tab-group="g1"></a></li>
							<li class="tw"><a href="#" tab-group="g1"></a></li>
						</ul>
					</div>
		</div>
	</div>
</footer>
