// I know kinda weird ....
// https://github.com/angular/angular-cli/issues/3700
@import "../../scss/variables";

.product-top {
	display: block;
	background-color: #000;
	background-image: url(../../assets/images/topsection-background.png);
	box-shadow:0px 6px 6px -2px #676767;
}
.product-details {
	background: rgba(0, 0, 0, 0.5);
	color:#fff;
}
.productintro {
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}
.breadcrumb {
	background: none;
	font-size: 1rem;
	padding-top: 26px;
	padding-left: 6px;
	margin-bottom: 10px;

	a {
		color:#fff;
	}
	li:not(:last-child):after {
	     content: " > ";
	}
	.active {
		text-decoration: none;
		font-weight: bold;
	}
	.beenthere {
		text-decoration: underline;
	}
	ul {
		padding: 0px;
	}
	ul li{
	 display: inline;
	 color:#fff;
 }
}
.product-story {
	display: block;
	width: 100%;
	position: relative;
}
.productcontent {
	display: block;
	background-color: $gray-light;
	box-shadow:0px 6px 6px -2px #00243a;
	position: relative;
}
.product-img {
	text-align: center;
	margin-bottom: 64px;
	img {
		margin: 0 auto;
	}
}
.productpage {
	display: block;
	background: #00314f;
	position: relative;
	h2 {
		padding-top: 4px;
		font-size: 2.8rem;
		letter-spacing: 0.036rem;
		margin-bottom: 1.5rem;
	}
}
.about-product {
	padding-left: 18px;
	display: inline-block;
	margin-bottom: 30px;
}
.regmark {
	font-size: 0.25rem;
	line-height: 1.25rem;
	vertical-align: top;
}
.product-facts {
	font-size: 0.875rem;
	text-transform: uppercase;
	list-style: none;
	font-size: 1.000rem;
	line-height: 1.9rem;
	margin-bottom: 30px;
	ul {
		list-style: none;
		padding: 0;
	}
}
.product-reviews {
	color:#fff;
}
.product-story .container {
	margin-top:20px;
}

.product-story .container{
	padding: 0px;
}

.product-story .story {
	color:#fff;
	width: 80%;
	margin-bottom: 100px;
}
.product-story img {
	margin-top: 6px;
	margin-left: 1px;
}
.productpage {
	.col-md-8 {
		flex:55%;
		max-width:55%;
	}
	.col-md-4 {
		flex:45%;
		max-width:45%;
		padding-left:10px;
	}
}
.cart-tools {
	display: inline-block;
	width: 294px;
	padding: 0px;
	margin: 0px;
}
// ------------- //
.product-reviews {
	margin-top: 40px;
	padding-bottom: 30px;
	display:block;
	 position: relative;
	.container {
		width:1190px;
	}
	.reviews {
	}
	.review-heading {
		h2 {
			display: inline-block;
			margin-left: 154px;
			margin-bottom: 0;
			padding-top: 0;
		}
		.write-review {
			display: inline-block;
			margin-left: 48px;
		}
	}
	.review {
		display: block;
		width:100%;
		margin-top: 38px;
	}
	.reviewer {
		display: inline-block;
		width:154px;
		vertical-align: top;
	}
	.review-content {
		display: inline-block;
		width:800px;
	}
	.reviewer-img {
		padding-top: .5rem;
		img{
			border: 1px solid #fff;
		}
	}
	.reviewer-name {
		font-family: Arial;
		font-size: 1rem;
	}
	.review-content {
	}
	.review-title {
		.title {
		font-family: Arial;
		font-size: 1.4rem;
		font-weight: bold;
		}
		.date {
			padding-left: 0.5rem;
			font-size: 1.4rem;
		}
		.rating {
			padding-left: 1.5rem;
			img {
				padding:.0rem .2rem .5rem .2rem;
			}
		}
	}
	.review-txt {
		padding-top:1.5rem;
	}
}
