<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="productpage">
<div class="productcontent">
<div class="productintro product-top">
  <div class="container product-details">
			<div class="breadcrumb">
				<ul>
					<li><a href="#" class="beenthere">Clothing</a></li>
					<li><a href="#" class="active">Outerwear</a></li>
				</ul>
			</div>
			<!--  -->
				<div class="row">
        <div class="col-md-8 product-img">
					<img src="../assets/images/tough-mojo-jacket-img1.png" alt="Jacket">
        </div>
<!--  -->
        <div class="col-md-4">
					<div class="about-product">
          <h2>Tough Mojo Jacket<span class="regmark">&#174;</span></h2>
						<div class="product-facts">
							<ul>
								<li>Lorem ipsum sit amet, consectetur adipiscing </li>
								<li>Lorem ipsum dolor sit amet, consectetur a</li>
								<li>Lorem ipsum dolor amet, consectetu</li>
								<li>Lorem dolor sit amet, consectetur adi</li>
								<li>Lorem ipsum dolor sit amet, consect</li>
								<li>Lorem ipsum  consectetur adipiscing elit</li>
								<li>Lorem ipsum dolor amet, adipiscing elit</li>
								<li>ipsum dolor sit amet, consectetur adipiscing </li>
								<li>Lorem ipsum dolor sit amet, consectetur elit</li>
								<li>Lorem  dolor sit amet, consectetur </li>
							</ul>
						</div>
						<div class="cart-tools">
							<app-add2cart></app-add2cart>
						</div>
					</div>
        </div>
      </div>
<!--  -->
  </div>
</div>
<div class="product-story">
	<div class="container">
		<div class="row">
		<div class="col-md-8">
			<img src="../assets/images/tough-mojo-jacket-img2.png" alt="Jacket">
		</div>

		<div class="col-md-4">
			<div class="story">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. </p>
				<p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. </p>
			</div>
		</div>
	</div>
	</div>
</div>
<!--  -->
<!--  -->

</div>
<!--  -->
<div class="product-reviews">
  <!-- Example row of columns -->
	<div class="container">
		<div class="reviews">
			<div class="review-heading">
				<h2>Reviews</h2>
				<div class="write-review"><app-product-review-form></app-product-review-form></div>
<!--  -->
			<div class="review">
				<div class="reviewer">
					<div class="reviewer-img"><img src="../assets/images/reviewer1.png" alt="Shaun White's picture"></div>
					<div class="reviewer-name">Shaun White</div>
				</div>
				<div class="review-content">
					<div class="review-title">
						<span class="title">This Thing is a monster!</span><span class="date">08/20/2013</span><span class="rating"><img src="../assets/images/star.png" alt="Star"><img src="../assets/images/star.png" alt="Star"><img src="../assets/images/star.png" alt="Star"><img src="../assets/images/star.png" alt="Star"></span>
					</div>
					<div class="review-txt">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
					</div>
		</div>
	</div>
	<!--  -->
	<!--  -->
				<div class="review">
					<div class="reviewer">
						<div class="reviewer-img"><img src="../assets/images/reviewer2.png" alt="Shaun White's picture"></div>
						<div class="reviewer-name">Jennie Loren</div>
					</div>
					<div class="review-content">
						<div class="review-title">
							<span class="title">Luv it so much I bought 2!</span><span class="date">01/12/2013</span><span class="rating"><img src="../assets/images/star.png" alt="Star"><img src="../assets/images/star.png" alt="Star"><img src="../assets/images/star.png" alt="Star"></span>
						</div>
						<div class="review-txt">
							<p>a dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
						</div>
			</div>
		</div>
		<!--  -->
</div>
<!--  -->
<!--  -->
</div>
<!--  -->
</div>
</div>
</div>
